<div class="cards-container">
  <ion-card *ngFor="let product of products$ | async">
    <div class="card-image">
      <img [src]="product.image" alt="{{ product.name }}">
    </div>
    <ion-card-header>
      <ion-card-title class="Card-tittle-text card-text">
        <div class="marquee">
          <div class="marquee-content">
            <span>{{ product.name }}</span>
            <span>{{ product.name }}</span>
            <span>{{ product.name }}</span>
            <span>{{ product.name }}</span>
          </div>
          <div class="marquee-content">
            <span>{{ product.name }}</span>
            <span>{{ product.name }}</span>
            <span>{{ product.name }}</span>
            <span>{{ product.name }}</span>
          </div>
        </div>
      </ion-card-title>
      <ion-card-subtitle class="text-subtitle">${{ product.price }}</ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content class="type">
      Type: {{ product.type }}
    </ion-card-content>
    <ion-button class="boton-cart" (click)="addToCart(product)">Add to Cart</ion-button>
  </ion-card>
</div>
