<ion-content [fullscreen]="true">
  <app-menu></app-menu>
  <div class="container" id="container">
    <form action="" class="formControl">
      <app-custom-input
      label="Address"
      type=""
      autocomplete="Address"
      ></app-custom-input>
      <app-custom-input
      label="Apartment/House"
      type=""
      autocomplete="Apartment/House"
      ></app-custom-input>

      <div class="button-container">
        <ion-button
        expand="block"
        type=""
        >Añadir Dirección</ion-button>
      </div>
    </form>
  </div>
</ion-content>