<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title class="menu">Menu</ion-title>
      <!-- List of menu items -->
      <ion-list>
        <ion-item>
          <ion-label [routerLink]="['/home']">Home</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Explore</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Profile</ion-label>
        </ion-item>
      </ion-list>
      <!-- List of menu items -->
    </ion-toolbar>
  </ion-header>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="login-content"></div>
  <ion-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="formControl">
      <app-custom-input
      [control]="loginForm.controls.email"
      label="Email"
      type="email"
      autocomplete="email"
    ></app-custom-input>
  
    <app-custom-input
      [control]="loginForm.controls.password"
      label="Password"
      type="password"
      autocomplete="Password"
    ></app-custom-input>
  
    <ion-button
      expand="block"
      type="submit"
      [disabled]="!loginForm.valid"
      >
      Click me
    </ion-button>
    </form>
  </ion-content>
</div>