.margin{
    margin-top: 100px;
}
.card-container{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    color: #774936;
}


ion-card {
    width: 200px;
    min-width: 200px;
    margin-right: 10px;
    flex-shrink: 0;
    color: #774936;
}

.removeButton{
    margin: auto;
}

.card-image {
    height: 150px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shoppin-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.product-name,
.product-price {
    color: #774936;
 }

.shoppin-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.shoppin-text{
    color: #774936;
}

.shoppin-line{
    width: 125px;
    margin-right: 115px;
}

.bolsa{
    width: 130px;
    margin-left: 70px;
}

h1{
   margin-left: 35px; 
   margin-right: 30px;
   margin-top: 30px;
   size: 20px;
   text-align: center;
}

.delete{
    
    margin-left: 15px;
}