<ion-content>
  <div class="margin">
  <app-menu></app-menu>
  <div class="shoppin-content">
    <div class="shoppin-title">
      <img src="https://raw.githubusercontent.com/PixelForgeUTP/source/976a43d7ce3368d8e4605b077e16e114e0f76f6b/Figma%20packs/Icons/Bolsa%20compra.svg">
      <div class="shoppin-text">
        <h1>Esta es tu carrito</h1>
      </div>
    </div>
    <img class="shoppin-line" src="https://raw.githubusercontent.com/PixelForgeUTP/source/976a43d7ce3368d8e4605b077e16e114e0f76f6b/Figma%20packs/Icons/Line%20bajo%20bolsa%20de%20compra.svg">
  </div>
  <!-- Card Content -->
    <div class="card-container">
    <ion-card *ngFor="let product of cartProducts$ | async">
      <div class="card-image">
        <img [src]="product.image" alt="{{ product.name }}">
      </div>
      <ion-card-header>
        <ion-card-title class="product-name">
          <div class="marquee">
            <div class="marquee-content">
              <span>{{ product.name }}</span>
              <span>{{ product.name }}</span>
              <span>{{ product.name }}</span>
              <span>{{ product.name }}</span>
            </div>
            <div class="marquee-content">
              <span>{{ product.name }}</span>
              <span>{{ product.name }}</span>
              <span>{{ product.name }}</span>
              <span>{{ product.name }}</span>
            </div>
          </div>
        
        </ion-card-title>
        <ion-card-subtitle  class="product-price">${{ product.price }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Type: {{ product.type }}
      </ion-card-content>
      <ion-card-content class="removeButton">
        <ion-button (click)="removeItem(product.id)" color="danger" fill="clear">
          Remove Item!
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</div>
</ion-content>


