.svg-container {
    background-color: #774936; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px; 
    border-radius: 50%; 
  }
  
.svg-container svg {
    stroke: #FFFFFF; 
  }
  
  

  
  
  
  
  
  
  