<ion-content [fullscreen]="true">
  <app-menu></app-menu>
  <div class="container" id="container">
    <div class="search-bar">
      <app-search-bar label="Buscar..."></app-search-bar>
    </div>
      <app-custom-input></app-custom-input>
      <h1>Productos mas Vendidos</h1>
      <app-item-explorer class="content"></app-item-explorer>
      
      <h1>Panes</h1>
      <app-item-explorer class="content" [productType]="'Panes'"></app-item-explorer>
      
      <h1>Dulces</h1>
      <app-item-explorer class="content" [productType]="'Dulces'"></app-item-explorer>

      <h1>Pasteles</h1>
      <app-item-explorer class="content" [productType]="'Pasteles'"></app-item-explorer>
  </div>
</ion-content>