<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>auth-signUp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="formControl">
    <app-custom-input
      [control]="registerForm.controls.email"
      label="Email"
      type="email"
      autocomplete="email"
    ></app-custom-input>
  
    <app-custom-input
      [control]="registerForm.controls.password"
      label="Password"
      type="password"
      autocomplete="new-password" 
    ></app-custom-input>
  
    <ion-button
      expand="block"
      type="submit"
      [disabled]="!registerForm.valid" 
    >
      Register 
    </ion-button>
  </form>
  
  
  
</ion-content>
