<ion-menu  contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title class="menu">Menu</ion-title>
      <!-- List of menu items -->
      <ion-list>
        <ion-item>
          <a routerLink="/home">Home</a>
        </ion-item>
        <ion-item>
          <a routerLink="/profile">Profile</a>
        </ion-item>
        <ion-item>
          <a [routerLink]="['/shoppin-cart']">Shopping Cart</a>
        </ion-item>
      </ion-list>
      <!-- List of menu items -->
    </ion-toolbar>
  </ion-header>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons class="line-bar" slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <img class="logo" src="https://raw.githubusercontent.com/PixelForgeUTP/source/455c6c3173b965ca9a127e5ac0c61ec5e6559406/Figma%20packs/Logos/Logo.svg" alt="Glenn's Logo" />
      </ion-title>
    </ion-toolbar>
  </ion-header>
</div>