.custom-header{
    height: 50%;
  }
  
.custom-toolbar{
    height: 100%;
    background-color: #774936;
}
  
.custom-title{
    text-align: right; 
    text-decoration: underline;
    font-size: 16px;
    margin-top: 10px;

    a{
        color: white;
    }

}

.image-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.custom-image{
    height: 300px;
}

.bottom-link {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
  
.custom-title2 {
    color: #774936;
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
}

.custom-title3 {
    color: #774936;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;

    a{
        color: #774936;
    }
}
